
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-at"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Advanc<sup>2</sup>d</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item" id="sidebar_menu_home">
    <a class="nav-link" href="template.html?page=home">
        <i class="sas sa-fw sa-home"></i>
        <span>It's Me!</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item" id="sidebar_menu_product_service">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_sidebar_menu_product_service"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cubes"></i>
        <span>Product<sup>service</sup></span>
    </a>
    <div id="collapse_sidebar_menu_product_service" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
<!--            <h6 class="collapse-header">제품 및 서비스:</h6>-->
            <a class="collapse-item" id="sidebar_menu_list_components_product_manage" href="template.html?page=pdService">제품 관리</a>
            <a class="collapse-item" id="sidebar_menu_list_components_version_manage" href="template.html?page=pdServiceVersion">버전 관리</a>
        </div>
    </div>
</li>

<li class="nav-item" id="sidebar_menu_alm_server_connection">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_sidebar_menu_alm_server_connection"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="sab sa-fw sa-jira"></i>
        <span>ALM<sup>jira, gitlab, etc.</sup></span>
    </a>
    <div id="collapse_sidebar_menu_alm_server_connection" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
<!--            <h6 class="collapse-header">Custom Components:</h6>-->
            <a class="collapse-item" id="sidebar_menu_list_components_server_manage" href="template.html?page=almServer">서버 관리</a>
            <a class="collapse-item" id="sidebar_menu_list_components_connection_manage" href="template.html?page=almServerConnection">연결 관리</a>
        </div>
    </div>
</li>

<li class="nav-item" id="sidebar_menu_requriement">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_sidebar_menu_requriement"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw sa-list"></i>
        <span>Requirement<sup></sup></span>
    </a>
    <div id="collapse_sidebar_menu_requriement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
<!--            <h6 class="collapse-header">Custom Components:</h6>-->
            <a class="collapse-item" id="sidebar_menu_list_components_product_requirement_manage" href="template.html?page=buttons">요구 관리</a>
            <a class="collapse-item" id="sidebar_menu_list_components_req_status_manage" href="template.html?page=cards">현황 관리</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Interface
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item" id="sidebar_menu_components">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_sidebar_menu_components"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Components</span>
    </a>
    <div id="collapse_sidebar_menu_components" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" id="sidebar_menu_list_components_buttons" href="template.html?page=buttons">Buttons</a>
            <a class="collapse-item" id="sidebar_menu_list_components_cards" href="template.html?page=cards">Cards</a>
            <a class="collapse-item" id="sidebar_menu_list_components_icons" href="template.html?page=icons">Icons</a>
        </div>
    </div>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item" id="sidebar_menu_utilities">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_sidebar_menu_utilities"
       aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Utilities</span>
    </a>
    <div id="collapse_sidebar_menu_utilities" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" id="sidebar_menu_list_utilities_colors" href="template.html?page=colors">Colors</a>
            <a class="collapse-item" id="sidebar_menu_list_utilities_borders" href="template.html?page=borders">Borders</a>
            <a class="collapse-item" id="sidebar_menu_list_utilities_animations" href="template.html?page=animations">Animations</a>
            <a class="collapse-item" id="sidebar_menu_list_utilities_other" href="template.html?page=other">Other</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Addons
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item" id="sidebar_menu_pages">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
       aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="./html/sb-admin/login.html">Login</a>
            <a class="collapse-item" href="./html/sb-admin/register.html">Register</a>
            <a class="collapse-item" href="./html/sb-admin/forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="./html/sb-admin/404.html">404 Page</a>
            <a class="collapse-item" href="./html/sb-admin/blank.html">Blank Page</a>
        </div>
    </div>
</li>

<!-- Nav Item - Charts -->
<li class="nav-item" id="sidebar_menu_charts">
    <a class="nav-link" href="template.html?page=charts">
        <i class="sas sa-fw sa-chart-area"></i>
        <span>Charts</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item" id="sidebar_menu_tables">
    <a class="nav-link" href="template.html?page=tables">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider my-0">
<!-- Nav Item - Dashboard -->
<li class="nav-item" id="sidebar_menu_dashboard">
    <a class="nav-link" href="template.html?page=dashboard">
        <i class="fas fa-fw fa-dashboard"></i>
        <span>Dashboard</span></a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item" id="sidebar_menu_posts">
    <a class="nav-link" href="template.html?page=posts">
        <i class="sar sa-fw sa-envelope"></i>
        <span>Posts</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Message -->
<div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="./html/sb-admin/img/undraw_rocket.svg" alt="...">
    <p class="text-center mb-2"><strong>안녕하세요 박현민입니다.</strong> <br> 제 블로그 및 포트폴리오를 보러오신 것을 환영합니다.</p>
    <a class="btn btn-success btn-sm">환영합니다!</a>
</div>